/* Enter your custom styles here */
.clProduct{
    max-width: 50vw !important;
}
.VBoxWidth{
    margin-left:1rem !important;
}

.VBoxWidth1{
    margin-left:1rem !important;
}

/* .boldText{
        margin-left:450px !important;
    } */

.sapUxAPObjectPageContainerNoBar>.sapUxAPObjectPageSection:first-child:not(.sapUxAPObjectPageSectionNoTitle){
    margin-top:-1rem !important;
}
.rejectbtn{
    margin-left:1rem !important;
}

.locClass{
    margin-left:1rem !important;
}

.sapUiTinyMarginBottom {
    margin-top:0.35rem !important;
    font-size:13px !important;
  }

  .sapUiSizeCompact .sapUxAPObjectPageSectionHeader, .sapUxAPObjectPageSectionHeader {
    height: 0rem !important;
    line-height: 2.25rem;
}

.sapUxAPObjectPageSection .sapUxAPObjectPageSectionContainer .sapUxAPObjectPageSubSection .sapUxAPBlockContainer {
    padding-bottom: 0;
    padding-top: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    background: #fff;
    margin-left: 0rem !important;
    margin-right: 0rem !important;
    border-radius: 0.75rem;
}